body {
    background: #f0f1f5;
    margin: 0 auto;
    width: 80%;
    font-family: "Helvetica", sans-serif;
    font-size: 16px
}

header section:nth-child(1) {
    padding-bottom: 6px;
}

header section:nth-child(1) p {
    float: left;
    color: #f9690e;
    padding-left: 5px;
}

header section:nth-child(1) i.fa-solid {
    font-size: 25px;
    float: left;
    color: #f9690e;
    padding-bottom: 15px;
}



header section:nth-child(1) nav {
    text-align: right;
}

header section:nth-child(1) nav ul {
    float: right;
}

header section:nth-child(1) nav ul li {
    display: inline-block;
    padding: 0 8px;
}

header section:nth-child(1) nav ul li a {
    color: #f9690e;
    text-decoration: none;
}

header section:nth-child(2) {
    margin-top: 3rem;
    background-size: cover;
    background-image: url("./picture.jpg");
    background-position: center;
    padding: 21rem 27rem;
    text-align: center;
    font-size: 18px;


}

header section:nth-child(2) h1 {
    color: white;

}

header section:nth-child(2) span {
    color: #f9690e;
}

header section:nth-child(2) button {
    background: #f9690e;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
}

header section:nth-child(2) button:hover {
    background: white;
    color: #f9690e;
    cursor: pointer;
}

main article {
    background-color: #f9690e;
    color: white;
    width: 28%;
    display: inline-block;
    padding: 39px;

}

main article h3 {
    text-align: center;
}

main article p {
    padding: 0 30px;
    text-align: justify;
}


footer p {
    float: left;
    margin-top: 1rem;
    width: 77%;
}

footer ul {

    text-align: right;
}

footer ul li {
    display: inline-block;
    padding-inline: 21px;
    margin-top: 1rem;
}

footer ul li i {
    text-decoration: none;


}