body {
    background: #f0f1f5;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    padding: 2rem 12rem;

}

header>p {
    float: left;
    color: #f9690e;
    padding-left: 5px;
}

header i.fa-solid {
    font-size: 25px;
    float: left;
    color: #f9690e;
    padding-top: 15px;
    ;
}

header p a {
    text-align: start;
}

nav {
    text-align: right;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 0 8px;
}

nav ul li a {
    color: #f9690e;
    text-decoration: none;
}

main section:nth-child(1) {
    margin-top: 3rem;
    background-size: cover;
    background-image: url("./picture.jpg");
    background-position: center;
    padding: 21rem 27rem;
    text-align: center;
    font-size: 18px;

}

main section:nth-child(1) h1 {
    color: white;

}

main section:nth-child(1) span {
    color: #f9690e;
}

main section:nth-child(1) button {
    background: #f9690e;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
}

main section:nth-child(1) button:hover {
    background: white;
    color: #f9690e;
}

main section:nth-child(2) article {
    background-color: #f9690e;
    color: white;
    width: 28%;
    display: inline-block;
    padding: 39px;

}

main section:nth-child(2) article h3 {
    text-align: center;
}

main section:nth-child(2) article p {
    padding: 0 30px;
    text-align: justify;
}

footer article {
    margin-top: 3rem;
    width: 49%;
    display: inline-block;

}

footer article:nth-child(2) {
    text-align: right;
}

footer article:nth-child(2) i {
    padding: 20px;
}